<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>HJ-Lib Documentation</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

    <!-- CSS custom style sheet -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
  </head>

  <body>
    <!-- Python code -->
    <?python
      import dataclasses as data
      import build_html as functions

      def getDataParent(name):
        return "accordion-" + functions.stripChars(name)
    ?>

    <!-- Defined templates -->
    <py:def function="getTabHTML(tab)">
        <py:choose test="">
          <py:when test="len(tab.components) == 0"><p>This page is under construction.</p></py:when>
          <py:when test="len(tab.components) == 1">
            <py:choose test="">
              <py:when test="isinstance(tab.components[0], data.Construct)">
                <h4>${tab.components[0].name}</h4>${getConstructHTML(tab.components[0])}
              </py:when>
              <py:when test="isinstance(tab.components[0], data.Instruction)">
                <h4>${tab.components[0].name}</h4>${getInstructionsHTML(tab.components[0])}
              </py:when>
              <py:when test="isinstance(tab.components[0], data.ListGroup)">${getListGroupHTML(tab.components[0])}</py:when>
              <py:when test="isinstance(tab.components[0], data.Question)">
                <h4>${tab.components[0].name}</h4>${getTextComponentHTML(tab.components[0].answer)}
              </py:when>
            </py:choose>
          </py:when>
          <py:otherwise>
            <div class="panel-group" id="${getDataParent(tab.name)}">
              <py:for each="elem in tab.components">
                <py:choose test="">
                  <py:when test="isinstance(elem, data.Category)">
                    ${getAccordionHTML(elem.name, getCategoryHTML(elem), getDataParent(tab.name), "")}
                  </py:when>
                  <py:when test="isinstance(elem, data.Construct)">
                    ${getAccordionHTML(elem.name, getConstructHTML(elem), getDataParent(tab.name), elem.javaname)}
                  </py:when>
                  <py:when test="isinstance(elem, data.Instruction)">
                    ${getAccordionHTML(elem.name, getInstructionsHTML(elem), getDataParent(tab.name), "")}
                  </py:when>
                  <py:when test="isinstance(elem, data.ListGroup)">
                    ${getAccordionHTML(elem.name, getListGroupHTML(elem), getDataParent(tab.name), "")}
                  </py:when>
                  <py:when test="isinstance(elem, data.Question)">
                    ${getAccordionHTML(elem.name, getTextComponentHTML(elem.answer), getDataParent(tab.name), "")}
                  </py:when>
                </py:choose>
              </py:for>
            </div>
          </py:otherwise>
        </py:choose>
    </py:def>
    <py:def function="getCategoryHTML(category)">
      <py:if test="category.description">${getDescriptionHTML(category.description)}</py:if>
      <div class="panel-group" id="${getDataParent(category.name)}">
        <py:for each="elem in category.components">
          <py:choose test="">
            <py:when test="isinstance(elem, data.Construct)">${getAccordionHTML(elem.name, getConstructHTML(elem), getDataParent(category.name), elem.javaname)}</py:when>
            <py:when test="isinstance(elem, data.Instruction)">${getAccordionHTML(elem.name, getInstructionsHTML(elem), getDataParent(category.name), "")}</py:when>
            <py:when test="isinstance(elem, data.ListGroup)">${getAccordionHTML(elem.name, getListGroupHTML(elem), getDataParent(category.name), "")}</py:when>
            <py:when test="isinstance(elem, data.Question)">${getAccordionHTML(elem.name, getTextComponentHTML(elem.answer), getDataParent(category.name), "")}</py:when>
          </py:choose>
        </py:for>
      </div>
    </py:def>
    <py:def function="getConstructHTML(construct)">
      <py:if test="construct.description">${getDescriptionHTML(construct.description)}</py:if>
      <py:for each="elem in construct.components">
        <py:choose test="">
          <py:when test="isinstance(elem, data.InlineList)">${getInlineListHTML(elem)}</py:when>
          <py:when test="isinstance(elem, data.Table)">${getTableHTML(elem)}</py:when>
          <py:when test="isinstance(elem, dict)">${getDictionaryHTML("Related Constructs", elem)}</py:when>
        </py:choose>
      </py:for>
    </py:def>
    <py:def function="getInstructionsHTML(instructions)">
      <py:if test="instructions.description">${getDescriptionHTML(instructions.description)}</py:if>
      <ol>
        <py:for each="step in instructions.steps">
          <li>${getTextComponentHTML(step)}</li>
        </py:for>
      </ol>
    </py:def>
    <py:def function="getListGroupHTML(listgroup)">
      <py:for each="pair in listgroup.lists">
        <h4>${pair[0]}</h4>
        <div class="list-group">
          <py:for each="item in pair[1]">
            <a href="#${functions.getInternalLink(item.name)}" class="list-group-item anchorlink">${item.name}</a>
          </py:for>
        </div>
      </py:for>
    </py:def>
    <py:def function="getAccordionHTML(title, content, parent, righttitle)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#${parent}" href="#${functions.getInternalLink(title)}">
              ${title}<span style="float: right">${righttitle}</span>
            </a>
          </h4>
        </div>
        <div id="${functions.getInternalLink(title)}" class="panel-collapse collapse">
          <div class="panel-body">
            ${content}
          </div>
        </div>
      </div>
    </py:def>
    <py:def function="getInlineListHTML(inlinelist)">
      <h5>${inlinelist.name}</h5>
        <ul class="list-inline">
          <py:for each="item in inlinelist.items">
            <li>
              <py:choose test="">
                <py:when test="isinstance(item, data.ExternalLink)"><a href="${item.link}" target="_blank">${item.name}</a></py:when>
                <py:when test="isinstance(item, data.InternalLink)"><a href="#${functions.getInternalLink(item.name)}" class="anchorlink">${item.name}</a></py:when>
                <py:otherwise>${item.name}</py:otherwise>
              </py:choose>
            </li>
          </py:for>
        </ul>
    </py:def>
    <py:def function="getTableHTML(table)">
      <table class="table table-condensed">
        <tr>
            <th py:for="title in table.titles" class="col-md-2">${title}</th>
        </tr>
        <tr py:for="row in table.rows">
          <td py:for="item in row" class="col-md-2">${item}</td>
        </tr>
      </table>
    </py:def>
    <py:def function="getDictionaryHTML(title, dictionary)">
      <h5>${title}</h5>
      <dl class="dl-horizontal">
        <py:for each="key in dictionary">
          <dt>
            <py:choose test="">
              <py:when test="isinstance(key, data.ExternalLink)"><a href="${key.link}" target="_blank">${key.name}</a></py:when>
              <py:when test="isinstance(key, data.InternalLink)"><a href="#${functions.getInternalLink(key.name)}" class="anchorlink">${key.name}</a></py:when>
              <py:otherwise>${key}</py:otherwise>
            </py:choose>
          </dt>
          <dd>${dictionary[key]}</dd>
        </py:for>
      </dl>
    </py:def>
    <py:def function="getTextComponentHTML(components)">
      <py:for each="elem in components">
        <py:choose test="">
          <py:when test="elem[0] == 'description'">${getDescriptionHTML(elem[1])}</py:when>
          <py:when test="elem[0] == 'img'"><p><img src="${elem[1]}" class="img-responsive img-thumbnail" /></p></py:when>
          <py:when test="elem[0] == 'code'"><pre>${elem[1]}</pre></py:when>
          <py:when test="elem[0] == 'quote'"><blockquote>${getTextComponentHTML(elem[1])}</blockquote></py:when>
        </py:choose>
      </py:for>
    </py:def>
    <py:def function="getDescriptionHTML(description)">
      <py:choose test="">
        <py:when test="description.links">
          <p>${Markup(functions.descriptionToHTML(description))}</p>
        </py:when>
        <py:otherwise><p>${description.description}</p></py:otherwise>
      </py:choose>
    </py:def>
    <py:def function="getSearchHTML()">
      
    </py:def>

    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand anchorlink" href="#${functions.getInternalLink(tabs[0].name)}">
            <img alt="Brand" src="https://wiki.rice.edu/confluence/download/attachments/4425835/habanero.png?version=1&amp;modificationDate=1312519609464&amp;api=v2" height="25" style="padding-left: 10px; padding-right: 10px;"></img>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#${functions.getInternalLink(tabs[0].name)}" data-toggle="tab">${tabs[0].name}<span class="sr-only">(current)</span></a></li>
            <py:for each="tab in tabs[1:]">
              <py:choose test="">
                <py:when test="isinstance(tab, tuple)">
                  <li class="dropdown">
                    <a href="#${tab[0]}" class="dropdown-toggle" data-toggle="dropdown">${tab[0]}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <py:for each="t in tab[1]">
                        <li><a href="#${functions.getInternalLink(t.name)}" data-toggle="tab">${t.name}</a></li>
                      </py:for>
                    </ul>
                  </li>
                </py:when>
                <py:otherwise>
                  <li><a href="#${functions.getInternalLink(tab.name)}" data-toggle="tab">${tab.name}</a></li>
                </py:otherwise>
              </py:choose>
            </py:for>
          </ul>
          <form class="navbar-form navbar-right" role="search" action="" method="post">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="i.e. async"/>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Tab pages -->
    <div class="tab-content">
      <div class="tab-pane active" id="${functions.getInternalLink(tabs[0].name)}">${getTabHTML(tabs[0])}</div>
      <py:for each="tab in tabs[1:]">
        <py:choose test="">
          <py:when test="isinstance(tab, tuple)">
            <py:for each="t in tab[1]">
              <div class="tab-pane" id="${functions.getInternalLink(t.name)}">${getTabHTML(t)}</div>
            </py:for>
          </py:when>
          <py:otherwise><div class="tab-pane" id="${functions.getInternalLink(tab.name)}">${getTabHTML(tab)}</div></py:otherwise>
        </py:choose>
      </py:for>
      <div class="tab-pane" id="search">${getSearchHTML()}</div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Documentation built by Alitha Partono and Marie Hoeger using <a href="http://getbootstrap.com">Twitter Bootstrap</a> and <a href="http://genshi.edgewall.org">Genshi</a>.</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="myscript.js"></script>
  </body>
</html>